.threecoltext {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: flex-start;

  > span:first-child {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25em;
    height: 3em;

    &::after {
      content: "";
      height: 2px;
      width: 2rem;
      background-color: var(--text-color);
    }
  }

  > span:last-child {
    font-size: var(--fs-h2);
  }

  > div {
    margin-inline: 8rem;
  }
}
