.projectWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &::-webkit-scrollbar {
    width: 0.25rem;

    &-thumb {
      background-color: var(--text-color);
      border-radius: 2rem;
    }
  }
}

.article {
  --container-width: clamp(20rem, calc(100% - 26rem), 80rem);
  width: var(--container-width);
  margin-inline: auto;

  > div {
    margin-block: 6rem;

    &:first-child {
      margin-block-start: 0;
    }
  }
}
