.nav {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 2rem;
  padding: 6rem 4rem;
  text-transform: uppercase;
}

.name {
  font-family: "Larken", serif;
  font-weight: normal;
  line-height: 0.8;
}

.navlist {
  font-size: var(--fs-h3);

  li {
    margin-block: 0.3em;
  }
}

.navlink {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: width 0.2s ease-in-out;
  }

  &::after {
    content: url("/assets/arrow.svg");
    width: 0.7em;
    height: 0.7em;
    position: absolute;
    top: -0.5em;
    right: -1em;
  }

  &:hover,
  &:focus-visible {
    &::before {
      width: 100%;
    }
  }
}
