.blockAnim {
  position: relative;
  clip-path: inset(100% 0 0 0);
  animation: parent 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  @keyframes parent {
    0% {
      clip-path: inset(100% 0 0 0);
    }
    50% {
      clip-path: inset(0 0 0 0);
    }
    100% {
      clip-path: inset(0 0 0 0);
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--text-color);
    clip-path: inset(100% 0 0 0);

    animation: clipPath 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation-delay: inherit;

    @keyframes clipPath {
      0% {
        clip-path: inset(100% 0 0 0);
      }
      50% {
        clip-path: inset(0 0 0 0);
      }
      100% {
        clip-path: inset(0 0 100% 0);
      }
    }
  }
}

li.blockAnim {
  animation-delay: 1s;
}

.nav {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 2rem;
  padding: 6rem 4rem;
  text-transform: uppercase;
}

.name {
  font-family: "Larken", serif;
  font-weight: normal;
  line-height: 0.8;
}

.navlist {
  font-size: var(--fs-h3);

  li {
    margin-block: 0.3em;
  }
}

.navlink {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--text-color);
    transition: width 0.2s ease-in-out;
  }

  &::after {
    content: url("/assets/arrow.svg");
    width: 0.7em;
    height: 0.7em;
    position: absolute;
    top: -0.5em;
    right: -1em;
  }

  &:hover,
  &:focus-visible {
    &::before {
      width: 100%;
    }
  }
}
